@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap");

/* base styles */
body {
  margin: 0;
  font-family: Handjet, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}